* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: 'Times New Roman', Times, serif;
    /* background: white;
    color: darkslategray;
    line-height: 1.7;
    overflow-x: hidden; */
    background-color: beige;
}



#leagueTxt {
    font-size: 40px;
    text-align: center;
}

.standings-fixtures {
    font-size: 40px;
    display: flex;
    justify-content: space-around; /* Distribute space around elements */
    align-items: flex-start;     /* Align items to the top */
}

table th, table td {
    text-align: center;  /* Center cell content */
}

#SGS {
    width: 30%;
    height: 30%;
}

.container { 
    width: 104%; 
    height: 100px; 
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
} 

.flex-container1 { 
    display: flex; 
    align-items: center; 
    justify-content: left; 
    height: 100%; 
} 

.flex-container2 { 
    display: flex; 
    align-items: center; 
    justify-content: right; 
    height: 100%; 
} 

.header2 {
    background-color: #000000;
    height: 30px;
}

.header3 {
    background-color: #000000;
    height: 20px;
}

.header1 {
    background-color: #aa0404;
    font-size: 20px;
}


/* Dropdown Button */
.dropbtn {
    background-color: #000000;
    color: white;
    padding: 8px;
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 10px;
    border: none;
    height: 30px;
}

#WestsideLogo {
    width: 90px;
    height: 90px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    font-size: 10px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #000000;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    color: #f1f1f1;
}

/* Links inside the dropdown */
.dropdown-content a {
    padding: 8px 10px;
    text-decoration: none;
    display: block;
    color: #f1f1f1;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #aa0404;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: rgb(0, 0, 0);}

.stats-bio {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

header h1 {
    color: white;
    margin-left: 1rem;
}


table {
    border-collapse: collapse;
    align-items: center;
    width: 100%;
}

th, td {
    border: 1px solid black;
    padding: 0.5rem;
    text-align: left;
}

#weekly-fixtures {
    font-size: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* highlight display */

#Highlight {
    text-align: center;
    padding-top: 15px;
}

.video-container {
    display: flex;
    justify-content: center; /* Center align the videos */
    overflow-x: hidden;
    margin: 20px auto; /* Center the container horizontally */
    position: relative;
}
.video-frame {
    margin: 0 5px; /* Adjust the margin between video frames */
}
.video-frame iframe {
    width: 250px; /* Adjust the width of each video frame */
    height: 250px; /* Adjust the height of each video frame */
}
.btn-left,
.btn-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.btn-left:hover,
.btn-right:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
.btn-left {
    left: 0;
}
.btn-right {
    right: 0;
}

/*container 2 with the Report, Next Game and Schedule
.container2 { 
    width: 100%; 
    height: 100px; 
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
} */

#topContainer {
    align-content: right;
    align-items: right;
    padding-left: 150px;
}

 /* Style for each section container */
 .section-container {
    width: 30%; /* Each section takes one-third of the width */
    display: inline-block; /* Display sections inline */
    vertical-align: top; /* Align sections to the top */
    padding: 10px;
    box-sizing: border-box; /* Include padding in width calculation */
    border-color: #000000;
    border-style: solid;
}

/* Style for the flex container inside each section */
.flex-container3 {
    display: flex;
    align-items: center; /* Center items vertically */
}

/* Style for flex items */
.flex-item3 {
    margin: 0 10px; /* Add some margin between items */
}

/* Style for images */
img {
    width: 90px;
    height: 90px;
}

 /* Season Header */
 #seasonheader {
   text-align: center;
   padding: 10px;
 }

  /* Reports */
#report {
 text-align: center;
 font-weight: bolder;
 font-size: 20px;
}

#scoreboard {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    align-items: center;
}

#scoreboard img {
    width: 90px;
    height: auto;
}

#score {
    padding-left: 10px;
    padding-right: 5px;
    font-weight: bold;
}

.player-info-container {
    display: flex;
    align-items: center; /* Align items vertically */
}

.player-image {
    max-width: 100px; /* Set max width for the image */
}

.player-details {
    display: flex; /* Use flexbox for details container */
    flex-direction: column; /* Arrange items vertically */
    margin-left: 20px; /* Add some space between the image and details */
    flex: 1; /* Allow the details div to grow to fill remaining space */
}

.player-name {
    margin-bottom: auto; /* Align the name to the top of the details container */
    text-align: center; /* Center-align the name */
    font-weight: bold;
}


.player-description {
    margin-top: 5px; /* Add some space between name and description */
}

.motm-announcement {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 0px;
    padding-bottom: 0px;
}

#Sponsor1 {
    max-height: 60px;
}

.motm-announcement img {
    height: 120px; /* Set maximum height for the image */
    width: auto; /* Set width to auto to maintain aspect ratio */
    margin-right: 0px; /* Add some space between the image and text */
}



.motm-announcement p {
    /*margin-left: 20px;  Add some space between the image and text */
    font-weight: bolder;
    font-size: 25px;
}

.motmvideo-container {
    display: flex;
    justify-content: center; /* Center the video horizontally */
    align-items: center; /* Center the video vertically */
    margin-top: 1px; /* Add some space between the announcement and video */
}

.motmvideo-container iframe {
    max-width: 100%; /* Ensure the video doesn't exceed its container width */
    max-height: 100%; /* Ensure the video doesn't exceed its container height */
}

/*Schedule*/
.schedule-container {
    text-align: center;
}

.week-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.week {
    margin: 20px;
    text-align: left; /* Align text to the left within each week */
    display: flex; /* Use flexbox for layout */
    align-items: center; /* Center items vertically */
}

.week p {
    margin: 0; /* Remove default margins for paragraphs */
    font-size: 20px;
    font-weight: bold;
}

.week img {
    width: 75px; /* Adjust the width of the image */
    height: auto; /* Maintain aspect ratio */
    margin-left: 10px; /* Add some space between the week number and the image */
    margin-right: 10px;
}

/*Change cursor when hovering over*/
#SGS, #WestsideLogo, #home, #about, #report, #teamHistory {
  cursor: pointer;
}

.next-match-container {
    text-align: center; /* Center all content horizontally */
}

.match-info {
    display: flex;
    flex-direction: column; /* Arrange items vertically */
    align-items: center; /* Center items horizontally */
    margin-top: 15px;
}

.match-details,
.injury-report {
    text-align: left; /* Align text to the left within these sections */
    margin-top: 20px; /* Add some space between sections */
}

.injury-report h3 {
    margin-bottom: 10px;
}