* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: 'Times New Roman', Times, serif;
    /* background: white;
    color: darkslategray;
    line-height: 1.7;
    overflow-x: hidden; */
    background-color: beige;
}



#leagueTxt {
    font-size: 40px;
    text-align: center;
}

.standings-fixtures {
    font-size: 40px;
    display: flex;
    justify-content: space-around; /* Distribute space around elements */
    align-items: flex-start;     /* Align items to the top */
}

table th, table td {
    text-align: center;  /* Center cell content */
}

#SGS {
    width: 30%;
    height: 30%;
}

.container { 
    width: 104%; 
    height: 100px; 
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
} 

.flex-container1 { 
    display: flex; 
    align-items: center; 
    justify-content: left; 
    height: 100%; 
} 

.flex-container2 { 
    display: flex; 
    align-items: center; 
    justify-content: right; 
    height: 100%; 
} 

.header2 {
    background-color: #000000;
    height: 30px;
}

.header3 {
    background-color: #000000;
    height: 20px;
}

.header1 {
    background-color: #aa0404;
    font-size: 20px;
}


/* Dropdown Button */
.dropbtn {
    background-color: #000000;
    color: white;
    padding: 8px;
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 10px;
    border: none;
    height: 30px;
}

#WestsideLogo {
    width: 90px;
    height: 90px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    font-size: 10px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #000000;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    color: #f1f1f1;
}

/* Links inside the dropdown */
.dropdown-content a {
    padding: 8px 10px;
    text-decoration: none;
    display: block;
    color: #f1f1f1;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #aa0404;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: rgb(0, 0, 0);}

.stats-bio {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

header h1 {
    color: white;
    margin-left: 1rem;
}


table {
    border-collapse: collapse;
    align-items: center;
    width: 100%;
}

th, td {
    border: 1px solid black;
    padding: 0.5rem;
    text-align: left;
}

#weekly-fixtures {
    font-size: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* video display */

.video-container {
    display: flex;
    justify-content: center; /* Center align the videos */
    overflow-x: hidden;
    margin: 20px auto; /* Center the container horizontally */
    position: relative;
}
.video-frame {
    margin: 0 5px; /* Adjust the margin between video frames */
}
.video-frame iframe {
    width: 250px; /* Adjust the width of each video frame */
    height: 250px; /* Adjust the height of each video frame */
}
.btn-left,
.btn-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.btn-left:hover,
.btn-right:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
.btn-left {
    left: 0;
}
.btn-right {
    right: 0;
}